<h1>Изменение вагона №<%= @carriage.number %></h1>

<%= form_for @carriage do |f| %>
  <div class="field">
  <%= f.label :number %>
  <%= f.number_field :number %>
  </div>

  <div class="field">
  <%= f.label :top_seats %>
  <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats %>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats %>
    <%= f.number_field :side_top_seats %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats %>
    <%= f.number_field :side_bottom_seats %>
  </div>

  <div class="actions">
    <%= submit_tag "Изменить" %>
  </div>
<% end %>
